.nav-menu {
  @include media-pc {
    margin-bottom: 2rem;
  }
}

.nav-menu-list {
  margin-left: 0;
  padding-left: 0;
  display: flex;
  justify-content: space-around;

  @include media-sp {
    flex-direction: column;
  }
}

.nav-menu-item {
  list-style: none;
  @include media-sp {
    text-align: center;
  }
}
